<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType" default-autowire-candidates="*Writer">


	<bean id="logger" class="com.gologo13.spring.test.Logger"></bean>
	<bean id="consoleWriter" class="com.gologo13.spring.test.ConsoleWriter"></bean>
	<bean id="fileWriter" class="com.gologo13.spring.test.FileWriter"></bean>
	<bean id="fileWriter2" class="com.gologo13.spring.test.FileWriter"></bean>

</beans>
